<section class="section benefits" id="benefits">
  <div class="container benefits-container">
    <div class="benefits-heading">
      <p class="benefits-subtitle">Innovative</p>
      <h2 class="benefits-title">Unlock Your Ride</h2>
      <p class="benefits-description">
        Experience the thrill of effortless riding.
      </p>
    </div>
    <ul class="benefits-list">
      <li class="benefits-item">
        <div class="benefits-item-content">
          <p class="benefits-item-subtitle">Lightweight</p>
          <h3 class="benefits-item-title">Speed Meets Sustainability</h3>
          <p class="benefits-item-description">
            Reach your destination faster and with ease.
          </p>
        </div>
        <picture class="benefits-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/benefits/desktop/benfits1-desktop.webp    1x,
              ./img/benefits/desktop/benfits1-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/benefits/tablet/benefits1-tablet.webp    1x,
              ./img/benefits/tablet/benefits1-tablet@2x.webp 2x
            "
          />
          <img
            class="benefits-image"
            src="./img/benefits/mobile/benefits1-mobile.webp"
            srcset="./img/benefits/mobile/benefits1-mobile@2x.webp 2x"
            alt="riding E-bike"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="benefits-item">
        <div class="benefits-item-content">
          <p class="benefits-item-subtitle">Eco-Friendly</p>
          <h3 class="benefits-item-title">Sustainable Commuting</h3>
          <p class="benefits-item-description">
            Reduce your carbon footprint with every ride.
          </p>
        </div>

        <picture class="benefits-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/benefits/desktop/benefits2-desktop.webp    1x,
              ./img/benefits/desktop/benefits2-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/benefits/tablet/benefits2-tablet.webp    1x,
              ./img/benefits/tablet/benefits2-tablet@2x.webp 2x
            "
          />
          <img
            class="benefits-image"
            src="./img/benefits/mobile/benefits2-mobile.webp"
            srcset="
              ./img/benefits/mobile/benefits2-mobile.webp    1x,
              ./img/benefits/mobile/benefits2-mobile@2x.webp 2x
            "
            alt="E-bike"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="benefits-item">
        <div class="benefits-item-content">
          <p class="benefits-item-subtitle">Speed</p>
          <h3 class="benefits-item-title">Unmatched Performance</h3>
          <p class="benefits-item-description">
            Enjoy the rush of high-speed commuting.
          </p>
        </div>
        <picture class="benefits-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/benefits/desktop/benefits3-desktop.webp    1x,
              ./img/benefits/desktop/benefits3-desktop@2x.webp 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./img/benefits/tablet/benefits3-tablet.webp    1x,
              ./img/benefits/tablet/benefits3-tablet@2x.webp 2x
            "
          />
          <img
            class="benefits-image"
            src="./img/benefits/mobile/benefits3-mobile.webp"
            srcset="
              ./img/benefits/mobile/benefits3-mobile.webp    1x,
              ./img/benefits/mobile/benefits3-mobile@2x.webp 2x
            "
            alt="E-bike"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
