<footer class="footer">
  <div class="container footer-container">
    <div class="footer-top">
      <nav class="footer-nav">
        <a class="logo-link" href="./index.html">
          <svg class="logo-icon" width="147" height="111">
            <use href="img/icons.svg#logo-icon"></use>
          </svg>
        </a>
        <ul class="nav-list">
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#">About bike</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Benefits</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Specs</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Gallery</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#">Testimonials</a>
          </li>
        </ul>
      </nav>
      <ul class="social-list">
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social-icon" width="20" height="20">
              <use href="img/icons.svg#facebook-icon"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social-icon" width="20" height="20">
              <use href="img/icons.svg#Instagram-icon"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href="https://x.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social-icon" width="20" height="20">
              <use href="img/icons.svg#x-icon"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.youtube.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social-icon" width="20" height="20">
              <use href="img/icons.svg#youtube-icon"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <span class="footer-decoration"></span>
    <p class="footer-text">© 2025 E-bike Nova. All rights reserved.</p>
  </div>
</footer>
