<section class="section gallery" id="gallery">
  <div class="container">
    <h2 class="gallery-title">Photo Gallery</h2>

    <p class="gallery-subtitle">
      Discover the E-Bike Nova in stunning detail.
    </p>

    <ul class="gallery-list">
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/desktop/gallery1-desktop.webp    1x,
              /img/gallery/desktop/gallery1-desktop@2x.webp 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/tablet/gallery1-tablet.webp    1x,
              /img/gallery/tablet/gallery1-tablet@2x.webp 2x
            "
          />

          <img
            class="gallery-image"
            src="/img/gallery/mobile/gallery1-mobile.webp"
            srcset="/img/gallery/mobile/gallery1-mobile@2x.webp 2x"
            alt="Cyclist taking the battery out of an E-Bike Nova frame"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/desktop/gallery2-desktop.webp    1x,
              /img/gallery/desktop/gallery2-desktop@2x.webp 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/tablet/gallery2-tablet.webp    1x,
              /img/gallery/tablet/gallery2-tablet@2x.webp 2x
            "
          />

          <img
            class="gallery-image"
            src="/img/gallery/mobile/gallery2-mobile.webp"
            srcset="/img/gallery/mobile/gallery2-mobile@2x.webp 2x"
            alt="Row of E-Bike Nova bicycles in a bike rack"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/desktop/gallery3-desktop.webp    1x,
              /img/gallery/desktop/gallery3-desktop@2x.webp 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/tablet/gallery3-tablet.webp    1x,
              /img/gallery/tablet/gallery3-tablet@2x.webp 2x
            "
          />

          <img
            class="gallery-image"
            src="/img/gallery/mobile/gallery3-mobile.webp"
            srcset="/img/gallery/mobile/gallery3-mobile@2x.webp 2x"
            alt="Rider on an E-Bike Nova next to a glass building"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/desktop/gallery4-desktop.webp    1x,
              /img/gallery/desktop/gallery4-desktop@2x.webp 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/tablet/gallery4-tablet.webp    1x,
              /img/gallery/tablet/gallery4-tablet@2x.webp 2x
            "
          />

          <img
            class="gallery-image"
            src="/img/gallery/mobile/gallery4-mobile.webp"
            srcset="/img/gallery/mobile/gallery4-mobile@2x.webp 2x"
            alt="E-Bike Nova handlebars with a display at sunset"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/desktop/gallery5-desktop.webp    1x,
              /img/gallery/desktop/gallery5-desktop@2x.webp 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/tablet/gallery5-tablet.webp    1x,
              /img/gallery/tablet/gallery5-tablet@2x.webp 2x
            "
          />

          <img
            class="gallery-image"
            src="/img/gallery/mobile/gallery5-mobile.webp"
            srcset="/img/gallery/mobile/gallery5-mobile@2x.webp 2x"
            alt="Cyclist riding an E-Bike Nova along a green path"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
