<header id="header" class="header">
  <div class="container">
    <a class="logo-site" href="index.html">
      <svg class="loso-site-svg" width="72" height="54">
        <use href="img/icons.svg#logo-icon"></use>
      </svg>
    </a>
    <nav class="navigation">
      <ul class="list-nav">
        <li class="list-nav-item">
          <a class="list-nav-link" href="#hero">Home</a>
        </li>
        <li class="list-nav-item">
          <a class="list-nav-link" href="#about-bike">About bike</a>
        </li>
        <li class="list-nav-item">
          <a class="list-nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="list-nav-item">
          <a class="list-nav-link" href="#specs">Specs</a>
        </li>
        <li class="list-nav-item">
          <a class="list-nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="list-nav-item">
          <a class="list-nav-link" href="#testimonials">Testimonials</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="burger-btn">
      <svg class="burger-svg" width="32" height="32">
        <use href="img/icons.svg#burger-icon"></use>
      </svg>
    </button>
  </div>
</header>
