<div id="mobile" class="mobile-menu">
  <div class="container">
    <a class="logo-site" href="index.html">
      <svg class="loso-site-svg" width="72" height="54">
        <use href="img/icons.svg#logo-icon"></use>
      </svg>
    </a>
    <button type="button" class="close-btn">
      <svg class="close-svg" width="18" height="18">
        <use href="img/icons.svg#close-icon"></use>
      </svg>
    </button>
    <nav class="mobile-navigation">
      <ul class="mobile-list-nav">
        <li class="mobile-list-nav-item">
          <a class="mobile-list-nav-link" href="#hero">Home</a>
        </li>
        <li class="mobile-list-nav-item">
          <a class="mobile-list-nav-link" href="#about">About bike</a>
        </li>
        <li class="mobile-list-nav-item">
          <a class="mobile-list-nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="mobile-list-nav-item">
          <a class="mobile-list-nav-link" href="#specs">Specs</a>
        </li>
        <li class="mobile-list-nav-item">
          <a class="mobile-list-nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="mobile-list-nav-item">
          <a class="mobile-list-nav-link" href="#testimonials">Testimonials</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
