<section class="price-section" id="price">
  <div class="container section">
    <picture>
      <source
        srcset="
          /img/price/desktop/price-desktop.jpg    1x,
          /img/price/desktop/price-desktop@2x.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          /img/price/tablet/price-tablet.jpg    1x,
          /img/price/tablet/price-tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />

      <img
        class="price-section-image"
        srcset="/img/price/mobile/price-mobile@2x.jpg 2x"
        src="/img/price/mobile/price-mobile.jpg"
        alt="Electric bike"
      />
    </picture>

    <h2 class="price-section-title">E-bike Nova</h2>
    <p class="price-section-cost">$1499</p>
    <p class="price-section-text">
      The E-Bike Nova redefines urban commuting with its innovative design and
      powerful performance. Experience the thrill of a smooth ride while
      contributing to a greener planet.
    </p>
    <ul class="price-section-list">
      <li class="price-section-list-item">
        <p class="price-section-list-text">Lightweight and high-performance</p>
      </li>
      <li class="price-section-list-item">
        <p class="price-section-list-text">Eco-friendly commuting solution</p>
      </li>
      <li class="price-section-list-item">
        <p class="price-section-list-text">Long-range battery life</p>
      </li>
    </ul>
    <button type="button" class="price-section-button">Buy Now</button>
  </div>
</section>
