.footer {
  background: var(--color-scheme-2-background);
}

.footer-container {
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.logo-icon {
  fill: var(--color-sanguine-brown-lightest);
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  margin-bottom: 32px;
}

.nav-link {
  font-size: 16px;
  color: var(--color-scheme-2-text);
}

.nav-link:hover,
.nav-link:focus {
  opacity: 0.5;
}

.social-list {
  display: flex;
  gap: 22px;
  justify-content: center;
  margin: 0;
}

.social-icon {
  fill: var(--color-scheme-2-text);
}

.social-icon:hover,
.social-icon:focus {
  fill: var(--color-scheme-1-text);
}

.footer-decoration {
  border: 2px solid var(--color-scheme-2-border);
  width: 100%;
  height: 0;
  margin-top: 34px;
  margin-bottom: 32px;
}

.footer-text {
  font-size: 14px;
  color: var(--color-scheme-2-text);
  margin: 0 auto;
  text-align: center;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .nav-list {
    flex-direction: row;
    align-items: center;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .footer-top {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .footer-nav {
    flex-direction: row;
    align-items: center;
  }

  .logo-link {
    margin: 0 162px 0 0;
  }

  .nav-list {
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin: 0;
  }

  .social-list {
    margin: 0 0 0 auto;
  }

  .footer-decoration {
    margin-top: 48px;
  }
}
