#header .container {
  display: flex;
  padding-top: 8px;
  align-items: center;
  position: relative;
}
.header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-scheme-1-background);
}
.logo-site {
  width: 191px;
  height: 62px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  color: var(--color-sanguine-brown-darkest);
  fill: currentColor;
  transition: opacity var(--animation);
}

.list-nav {
  display: none;
}

.list-nav-link {
  font-weight: 400;
  font-size: 16px;
  transition: opacity var(--animation);
}
.burger-btn {
  position: absolute;
  right: 12px;
  top: 16px;

  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  border: none;
  background-color: transparent;

  transition: opacity var(--animation);
}
.burger-svg use {
  width: 72px;
  height: 54px;
}
.logo-site:hover,
.logo-site:focus,
.list-nav-link:hover,
.list-nav-link:focus,
.burger-btn:hover,
.burger-btn:focus {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  #header .container {
    padding: 8.5px 32px;
    justify-content: space-between;
    min-width: 768px;
  }
  .logo-site {
    width: 141px;
    height: 55px;
    margin: 0;
  }
  .loso-site-svg {
    width: 62px;
    height: 47px;
  }
  .list-nav {
    display: flex;
    gap: 32px;
  }
  .burger-btn {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  #header .container {
    padding: 8.5px 64px;
    min-width: 1440px;
  }
}
