#mobile .container {
  padding-top: 8px;
  padding-bottom: 3px;

  position: relative;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  pointer-events: none;
  transform: translateX(100%);

  background-color: var(--color-scheme-1-background);

  transition: transform var(--animation);
}

.mobile-menu.is-open {
  pointer-events: auto;
  transform: translateX(0);
}

.close-btn {
  position: absolute;
  right: 12px;
  top: 16px;

  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  border: none;
  background-color: transparent;

  color: var(--color-scheme-1-text);
  fill: currentColor;
  stroke-width: 1.33px;
  stroke: currentColor;
}

.mobile-navigation {
  margin-top: 16px;
}
.mobile-list-nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mobile-list-nav-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
